body{
    background-color: rgb(9, 0, 80);
}
ul{
    background-color: rgb(0, 59, 142);
}
ul li{
    padding: 15px;
    display: inline-block;
    width: 100px;
    margin-left: -40px;
    margin-right: 35px;
}
li:hover{
    background-color: rgba(247, 0, 255, 0.411);
    transition: 0.30s;   
}
a{
    text-decoration: none;
    color:rgb(0, 204, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#home-ul{
    position: absolute;
    z-index: 1;
    display: none;
    margin-top: 15px;
    margin-left: -15px;
    width: 90px ;
    height: 200px;
    background-color: rgb(0, 59, 142);
}
li:hover #home-ul{
    display: block;
}

/* ------------------------------------------------------------- */

#div{
    width: 490px; height: 250px;
    background-image: url();
    border: 5px solid plum ;
    border-radius: 20px;
    display: inline-block;
    margin-right: 100px;
    margin-top: 100px;

}
#divi{
    width: 490px; height: 250px;
    background-image: url();
    border: 5px solid plum ;
    border-radius: 20px;
    display: inline-block;
    margin-right: 100px;
    margin-top: 100px;
    background-image: url();
    background-position: center;
}